

services:
  app:
    build:
      context: .
      args:
        VITE_STRIPE_PUBLIC_KEY: ${VITE_STRIPE_PUBLIC_KEY}
    container_name: mojahedstore_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
    
  mongo:
    image: mongo:7
    container_name: mojahedstore_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
